.topbar {
    margin: 0 auto;
    max-width: 720px;
    padding-left: 18em;
}

main {
    margin: 0 auto;
    max-width: 720px;
}

aside {
    margin: 0 auto;
    max-width: 720px;
}

.didascalia {
    text-align: center;
}
hr {
    border: solid 1px;
    color: rgba(0, 255, 255, 0.247);
}

nav {
    border-left: solid yellow;
padding-left: 10px;
}

#link {
    color: red;
}

#didascaliatop {
    color: green;
    background-color: rgba(240, 240, 157, 0.514);
    border-top: solid 2px;
    border-color: yellow;
    padding: 1em;
}

#fontefoto {
    color: rgba(139, 125, 125, 0.815);
}

h1 {
    text-align: center;
}